@font-face {
    font-family: 'bungee';
    src: url('../fonts/bungee.regular.ttf') format('truetype');
}

@font-face {
    font-family: 'chau-philomene-one';
    src: url('../fonts/chau-philomene-one.regular.ttf') format('truetype');
}

